:root {
  --text: black;
  --background: antiquewhite;
  --padding: 50px;
  --line-width: 2px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 calc(var(--padding) * 2) var(--padding);

  color: var(--text);
  background: var(--background);
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

main {
  width: 100%;
  display: grid;
  grid-gap: calc(var(--padding) / 2);
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 40vw;
}

main .sketch-entrance {
  display: block;
  position: relative;
}

.sketch-entrance > div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: transparent;

  transition: backdrop-filter 0.2s, color 0.2s;
}

.sketch-entrance > div:hover {
  color: white;
  backdrop-filter: blur(10px);
}

.sketch-entrance > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: var(--padding);
  /* border-top: var(--line-width) solid var(--text); */
  padding-top: var(--padding);
}

footer > a {
  transition: opacity 0.2s;
}

footer > a:hover {
  opacity: 0.5;
}

footer > a > img {
  width: var(--padding);
}

footer > * + * {
  margin-left: var(--padding);
}

@media only screen and (max-width: 1000px) {
  :root {
    --padding: 25px;
  }

  body {
    padding: var(--padding);
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }
}
